# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store

# Sensitive data
billing_matrix_automation/insurance_spreadsheet_to_sql/Project_Insurance.csv
commitment_creation/gpt_api_interaction/exhibit pages/
exhibit_b_page1_debug.png

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# Pytest cache
.pytest_cache/

# Flask cache
instance/
*.db

# Pip
pip-log.txt

# Coverage
htmlcov/
.coverage
.cache

# Build artifacts
build/
dist/
*.egg-info/
